<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href='#'>
        Reports
      </a>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <%- reports.each do |report| %>
      <% next unless report.name %>

      <li class="<%= report == @report.class ? 'active' : '' %>">
        <%= link_to report.tab_title, report_path(name: report.name) %>
      </li>
    <%- end %>
  </ul>
</nav>
