<% nested = local_assigns.fetch(:nested, false) %>
<table class='table table-hover <%= 'nested' if nested %>'>
  <thead>
    <% number_of_header_levels(report.columns).times do |level| %>
      <tr>
        <% header_columns_for_level(report.columns, level).each do |column| %>
          <%= column_table_header_tag(column) %>
        <% end %>
      </tr>
    <% end %>
  </thead>
  <tbody>
    <% report.processed_rows.each do |row| %>
      <%= row_tag(row, report) do %>
        <% row.each do |cell| %>
          <%= cell_tag(cell) %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
