<table class='table table-hover'>
  <thead>
    <% number_of_header_levels(report.columns).times do |level| %>
      <tr>
        <% header_columns_for_level(report.columns, level).each do |column| %>
          <%= column_table_header_tag(column) %>
        <% end %>
      </tr>
    <% end %>
  </thead>
  <tbody>
    <% report.rows.each do |row| %>
      <tr>
        <% row.each do |cell| %>
          <td><%= cell %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
