<div>
  <section>
    <%= render partial: 'top_items', locals: { report: @report } %>
  </section>
  <section class='well well-sm'>
    <%= render partial: 'form', locals: { report: @report } %>
  </section>
  <section class='panel'>
    <%= render partial: 'table', locals: { report: @report } %>
  </section>
</div>
